@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-major-color: #eeeeee;
  --major-color: #001b2e;
  --minor-color: #294c60;
  --aditional-color: #ffefd3;
  --secondary-color: #ffc49b;

}



body {
  background-color: var(--background-major-color);
  
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
